// Theme Colors
$primary-color : #00ADEE;
$secondary-color: #263A63;
$white-color: #ffffff;
$gray: #D8D7D7;
$darkgray: #ACA7A7;
$darkergray: #3E3636;
$darkbluegreen: #1E2D39;

// Theme Fonts
$primary-font : 'Raleway', open sans;
$secondary-font : 'Times New Roman', sans-serif;