// Theme Colors
$primary-color : #00ADEE;
$secondary-color: #263A63;
$third-color:#008bcc;
$white-color: #ffffff;
$gray: #D8D7D7;
$darkgray: #ACA7A7;
$darkergray: #3E3636;
$darkergray2:#222;
$darkbluegreen: #1E2D39;
$figmablack: #262626;
$lightblue: #E5EEF2;
$newheader: #494d5e;

// Theme Fonts
$primary-font : 'Lato', sans-serif;//'PlayfairDisplay', open sans;
$secondary-font : 'Lato', sans-serif;

$primary-font-test : 'Raleway', open sans;
$secondary-font-test : 'Times New Roman', sans-serif;