// Theme Colors
$primary-color : #00ADEE;
$secondary-color: #263A63;
$white-color: #ffffff;

// Theme Fonts
$primary-font : 'Raleway', open sans;
$secondary-font : 'Shippori Mincho', sans-serif;

// Screen sizes
$breakpoints : ("phone": 360px, "tablet": 768px , "desktop": 1366px, "LGdesktop": 1920px) !default;