@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Raleway-Regular.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Lato-Light.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/PlayfairDisplay-Bold.woff2) format("truetype");
    font-display: swap;
}
// @font-face {
//     font-family: 'Raleway';
//     font-style: italic;
//     font-weight: 400;
//     src: url(/fonts/Raleway-Italic.ttf) format("truetype");
//     font-display: swap;
// }
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Raleway-Bold.ttf) format("truetype");
    font-display: swap;
}
// @font-face {
//     font-family: 'Raleway';
//     font-style: italic;
//     font-weight: 700;
//     src: url(/fonts/Raleway-BoldItalic.ttf) format("truetype");
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Raleway';
//     font-style: normal;
//     font-weight: 250;
//     src: url(/fonts/Raleway-Thin.ttf) format("truetype");
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Raleway';
//     font-style: italic;
//     font-weight: 250;
//     src: url(/fonts/Raleway-ThinItalic.ttf) format("truetype");
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Raleway';
//     font-style: normal;
//     font-weight: 300;
//     src: url(/fonts/Raleway-Light.ttf) format("truetype");
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Raleway';
//     font-style: italic;
//     font-weight: 300;
//     src: url(/fonts/Raleway-LightItalic.ttf) format("truetype");
//     font-display: swap;
// }
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/Raleway-Medium.ttf) format("truetype");
    font-display: swap;
}
// @font-face {
//     font-family: 'Raleway';
//     font-style: italic;
//     font-weight: 500;
//     src: url(/fonts/Raleway-MediumItalic.ttf) format("truetype");
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Raleway';
//     font-style: normal;
//     font-weight: 900;
//     src: url(/fonts/Raleway-Black.ttf) format("truetype");
//     font-display: swap;
// }
// @font-face {
//     font-family: 'Raleway';
//     font-style: italic;
//     font-weight: 900;
//     src: url(/fonts/Raleway-BlackItalic.ttf) format("truetype");
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Cormorant';
//     font-style: normal;
//     font-weight: 400;
//     src: url(/fonts/Cormorant-Regular.woff2) format('woff');
//     font-display: swap;
// }
    

// @font-face {
//     font-family: 'Cormorant';
//     font-style: normal;
//     font-weight: 600;
//     src: url(/fonts/Cormorant-SemiBold.woff2) format('woff2');
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Cormorant';
//     font-style: normal;
//     font-weight: 700;
//     src: url(/fonts/Cormorant-Bold.woff2) format('woff2');
//     font-display: swap;
// }


@font-face {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/TimesNewRoman.woff2) format('woff2');
    font-display: swap;
}
 
// @font-face {
//     font-family: 'Times New Roman';
//     font-style: italic;
//     font-weight: 400;
//     src: url(/fonts/TimesNewRomanItalic.woff2) format('woff2');
//     font-display: swap;
// }
    
// @font-face {
//     font-family: 'Times New Roman';
//     font-style: italic;
//     font-weight: 700;
//     src: url(/fonts/TimesNewRomanBoldItalic.woff2) format('woff2');
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Times New Roman';
//     font-style: normal;
//     font-weight: 700;
//     src: url(/fonts/TimesNewRomanBold.woff2) format('woff2');
//     font-display: swap;
// }
