*{
    font-family: 'Roboto', open sans;
}
input,textarea{
    padding: 10px;
}
input:focus{
    box-shadow: none;
}
.two-columns{
    -webkit-columns: 40px 2;
    -moz-columns: 60px 2;
    columns: 60px 2;
}
header{
    height: 120px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    nav{
        ul{
            background-color: rgba(0,0,0,0.6);
            padding: 0px 10px;
            border-bottom: 5px solid #00ADEE;
            margin-top: 30px;
        }
        li{
            display: inline-block;
            padding: 15px 20px;
        }
        a{
            color: #fff;
            text-decoration: none;
        }
        a:hover{
            color: #fff;
        }
    }
}
.logo{
    img{
        height: 100px;
        margin-left: 20px;
        margin-top: 10px
    }
}
.blog-1{
    background: url("src/lib/img/ULFBUILT-TEAM-1.jpg");
    min-height: 50vh;
    background-position: bottom;
    background-size: cover;
    padding-top: 200px;
    h1{
        background-color: rgba(0,0,0,0.6);
        color: #fff;
        padding: 1rem 3rem;
        display: inline;
        font-size: 3rem;
        font-weight: 900;
    }
}
footer{
    background:#262626;
    color: #fff;
    padding: 50px 0;
    a{
        color: #fff;
        text-decoration: none;
    }
}