@import 'vars';
@import 'mixins';
// @import 'flickity/css/flickity.css';
*{
    font-family: $primary-font;
}
h1, h2, h3, h4, h5, h6{
    font-family: $secondary-font;
}
html{
    @include media-max(lg){
        font-size: 12px;
    }
    @include media-max(sm){
        font-size: 14px;
    }
}

h1,.h1{
    font-size: 5rem;
    @include media-max(lg){
        font-size: 3.5rem;
    }    
    @include media-max(md){
        font-size: 3rem;
    }
}
h2,.h2{
    font-size: 4rem;
    @include media-max(lg){
        font-size: 3rem;
    }        
    @include media-max(md){
        font-size: 2.5rem;
    }
}
h3,.h3{
    font-size: 3rem;
    @include media-max(lg){
        font-size: 2.5rem;
    }        
    @include media-max(md){
        font-size: 2rem;
    }    
}
p:last-child{
    margin-bottom: 0;
}
.logo{
    height: 5rem;
}
.pfont{
    font-family: $primary-font;
}
.sfont{
    font-family: $secondary-font;
}
.ptc{
    // ptc - primary-text-color, stc - secondary
    color:$primary-color;
}
.stc{
    color:$secondary-color;
}
.wtc{
    color:$white-color;
}
.gtc{
    color:#aaa;
}
.pbc{
    // pbc - primary-background-color, sbc - secondary
    background-color:$primary-color;
}
.sbc{
    background-color:$secondary-color;
}
.tbc{
    background-color:#1E2D39;
}
.blue-color-background{
    background-color:#E5EEF2;
}
.silver-color-background{
    background-color:#F2F2F2;
}
.line-height-2{
    line-height: 1.5;
}
.border-radius{
    border-radius: 10px;
}
.flex-vcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input,textarea, .form-control{
    padding: 0.8rem;
    border-radius: 7px;
}
input:focus{
    box-shadow: none;
}
section{
    margin: 3.75rem 0;
    min-height: 20vh;
    @include media-max(lg){
        padding-left: 3rem;
        padding-right: 3rem;
    }
    @include media-max(md){
        padding-left: 3rem;
        padding-right: 3rem;
    }
    @include media-max(sm){
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
img{
    width: 100%;
}
.mw-1000{
    max-width: 1000px;
    margin:auto;
    hr{
        
        opacity: 1;
        max-width: 80%;
        margin: auto;
        border:0.075rem solid #D8D7D7;
    }
}
.justify-content-center{
    justify-content: center;
}
.z10{
    z-index: 10;
    position: relative;
}
.changeBG{
    background:#1E2D39;
}
.input-icon-box{
    position: relative;
}
.input-icon-box input{
    padding-left:50px;
}
.input-icon{
    background-image: url(/src/lib/img/contact-icon.svg);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 11px;
    left: 11px;
    background-size: 60px;
}
.input-email:focus ~ .input-icon-email{
    background-position: 0px -30px;
}
.input-phone:focus ~ .input-icon-phone{
    background-position: 0px -60px;
}
.input-icon-user{
    background-position: -30px 0px;
}
.input-icon-email{
    background-position: -30px -30px;
}
.input-icon-phone{
    background-position: -30px -60px;
}
.input-user:focus ~ .input-icon-user{
    background-position: 0px 0px;
}
.btn{
    background-color: $primary-color;
    border-radius: 0;
    padding: 0.7rem 2rem;
    text-decoration: none;
    border-radius: 0;      
    font-family: $primary-font;
    font-size: 1.2rem;
    border: 1px solid $primary-color;
    box-shadow: 0px 3px 4px rgba(140, 133, 133, 0.25);
    border-radius: 2rem;    
    @include media-max(sm){
        padding: 0.7rem 1.4rem;
        font-size: 1rem;
    }
}
.input-user:focus ~ .input-icon-user{
    background-position: 0px 0px;
}​	
.btn-primary{
    background-color: $primary-color;
    color: #fff;  
    &:hover{
        background-color: $secondary-color;
    }    
}
.btn-secondary{
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    color: #fff;  
    width: fit-content;
    &:hover{
        background-color: $primary-color;
    }
}
.btn-inverted{
    background-color: transparent;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    &:hover{
        background-color: $secondary-color;
        color: #fff;
        border-color: #fff;
    }
}
.btn{
    transition: 0.5s;
    &:hover{
        transition: 0.5s;        
    }
}
.btn-white{
    background-color: white;
    color: $secondary-color;
}
.btn-white:hover{
    background-color: $primary-color;
    color: #fff;
}
.two-columns{
    -webkit-columns: 40px 2;
    -moz-columns: 60px 2;
    columns: 60px 2;
    @include media-max(sm){
        columns:1;
        text-align: center;
    }
}
#headroom{
    z-index: 10;
}
header.container-fluid{
    padding: 5px 5px 5px 25px;
    animation: 1.3s ease-out 0s 1 slideInFromTop;
}
@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}
.portfolio-page{
    .changeBG{
        nav li.nav-item a.nav-link{
            color: #fff;
        }
    }
    header nav li a.nav-link{
        color: $secondary-color;
    }
} 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    &.container-fluid{
        padding-left: 5px;
    }
    .mobile-menu-header{
        text-align: left;
        .menu-logo{
            text-align: left;
            @include media-min(sm){
                display: none;
            }
            a{
                display: inline-block;
            }
        }
        .close-menu{
            position: absolute;
            top: 0;
            right: 2rem;
            span{
                height: 3rem;
                width: 0.2rem;
                background: #000;
                display: inline-block;      
                &:first-child{
                    transform: rotate(45deg);
                    margin-right: -0.16rem;
                }
                &:last-child{
                    transform: rotate(135deg);
                    margin-left: -0.16rem;
                }         
            }
        }
    }
    nav{
        ul{
            margin-bottom: 0px;
        }
        li{
            display: inline-block;
            padding: 0px 20px;
            a.nav-link{
                color: #fff;
                text-decoration: none;
                &:hover, &:focus{
                    background-color: rgba(242, 237, 237, 0.20);
                }
                &:after {
                    color: $primary-color;
                }
            }       
        }
    }
    nav{
        .navbar-brand{
            a{
                img{
                    width: auto;
                }
            }
        }
        .hamburger{
            order: 3;
            margin-top: 1rem;
            &.open{
                position: absolute;
                top: 2rem;
                right: 5vw;
                span{
                    background-color: transparent;
                    &:before{
                        top: 0;
                        transform: rotate(45deg);
                        width: 1.8rem;
                        transition: 0.5s;
                        background-color: #ACA7A7;
                    }                    
                    &:after{
                        top: 0;
                        transform: rotate(-45deg);
                        width: 1.8rem;
                        transition: 0.5s;         
                        background-color: #ACA7A7;               
                    }
                }
            }
            @include media-min(sm){
                display: none;
            }
            span{
                padding: 0.1rem;
                border-radius: 0.5rem;
                width: 2rem;
                background-color: #fff;
                margin-bottom: 0.8rem;
                position: relative;
                display: inline-block;
                &:before{
                    content: "";
                    width: 2.6rem;
                    padding: 0.1rem;
                    background: #fff;
                    position: absolute;
                    top: -.7rem;
                    border-radius: 0.2rem;
                    right: 0;
                    transition: 0.5s;   
                }
                &::after{
                    content: "";
                    width: 1.4rem;
                    padding: 0.1rem;
                    background: #fff;
                    position: absolute;
                    top: .8rem;
                    border-radius: 0.2rem;
                    right: 0;
                    transition: 0.5s;   
                }
            }
        }
        .mobile-nav:not(.open){
            // left: 100vw;
            // transition: 1s;
            .navbar-collapse{
                display: none;
            }
            
        }
        .open.mobile-nav{
            top: 0;
            // left: 25vw;
            right: 0;
            background: #E5EEF2;
            width: 80vw;
            height: 100vh;
            position: fixed;    
            padding-top: 6rem;        
            // padding-left: 10vw;
            // transition: 1s;
            text-align: center;
            @include media-max(sm){
                display: block;
            } 
            .dropdown.show, .dropdown-menu{
                background-color: unset;
            }
            .mobile-menu-logo{
                // text-align: left;
                display: inline-block;
                // padding-left: 1rem;
                margin-bottom: 2rem;
                img{
                    text-align: left;
                    height: 6.5rem;
                }
            }
            ul{
                li{
                    a{
                        // text-align: left;
                        color: #3E3636;
                        font-size: 1.5rem;
                    }
                }
            }
            .bottom-menu-content{
                // padding-left: 1.2rem;
                margin-top: 20rem;
                .mail{
                    color: #3E3636;
                    text-decoration: none;
                    margin: 2rem 0 1rem 0;
                    display: block;
                    font-size: 1.2rem;
                }
                &__social{
                    margin: 2rem 0 1rem;
                    .icon{
                        margin-right: 1rem;
                    }
                }
            }
        }
        .navbar-collapse{
            // height: 100vh !important;
            // width: 100vw;
            // background-color: $primary-color;
            // margin-left: calc(50% - 50vw);
            // // position: absolute;
            // z-index: 999;
            // top: 0;
            // left: 0;
            // li{
            //     text-align: left;
            //     a{
            //         color: #000;
            //     }
            // }
        }
        .navbar-toggler{
            display: none;
            &.btn.btn-secondary{
                border: none;
                background-color: unset;
                box-shadow: none;
                padding-right: 0; 
                .navbar-toggler-icon{
                    background-image: url(/src/lib/img/Menu.svg);
                }
            }
        }
        .nav-item{
            min-width: 10rem;
            text-align: center;   
            a{
                &:hover{
                    color: $white-color;
                }
                font-size: 1.125rem;
                font-weight: 500;
            }         
        }
        .dropdown.show{
            background-color: rgb(216 215 215 / 50%);
            .dropdown-toggle{
                &:hover, &:focus{
                    background-color: unset;
                    color: $primary-color;
                }
            }
        }
        .dropdown-menu{
            background-color: rgb(216 215 215 / 50%);
            border-radius: 0;
            width: 100%;
            border: none;
            padding: 0 0 0.5rem;              
            &[data-bs-popper]{
                margin-top: 0;
            }
            .dropdown-item{
                color: #fff;
                text-align: center;
                &:hover,&:focus{
                    background-color: rgba(242, 237, 237, 0.20);
                }
            }
        }
    }
    .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
        color: #000;
    }      
}
.svelte-headroom--unpin {
    .mobile-nav {
        top: 100% !important;
    }
}
.logo{
    img{
        height: 70px;
    }
}
.footer{
    font-weight: 300;
    background:#262626;
    color: #fff;
    padding: 3rem 0;
    @include media-max(sm){
        padding: 3rem 1.5rem;
    }	
    margin: 0;
    a{
        color: #fff;
    }
    h4{
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    ul{
        list-style: none;      
        padding-left: 0;      
        li{
            padding-left: 0;
            line-height: 2;
        }
    }
}
.cover{
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#fff;
    height: 500px;
    @include media-max(sm){
        height: 20rem;
        padding:0 1rem;
    }
    h2{
        @include media-max(sm){
            padding-top: 4rem;
        }
    }
    p{
        text-align: center;
    }
}
// offset slider
.featured-projects .row, .portfolio-gallery__slider{
    margin-right: calc(50% - 50vw);
    @include media-max(sm){
        margin-right: 0;
    }
}



.contact-form{
    padding: 4rem;
    border:2px solid #D8D7D7;
    max-width: 600px;
    margin: auto;
    @include media-max(sm){
        padding: 2rem;
    }
}
.contact-img{
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-box{
    margin-top: -10rem;
    margin-bottom: 7rem;
    button{
        display: flex;
        margin: auto;
    }
}

.story{
    .accordion{
        .accordion-button{
            box-shadow: none;
        }
        .accordion-item{
            .accordion-collapse{
                border-bottom: 1px solid #ACA7A7;
                border-radius: unset;                
            }
            .accordion-body{
                margin-left: 2rem;
                padding: 0rem 1rem;
            }
        }
        .accordion-item, .accordion-button{
            background-color: transparent;
            border: none;
        }
    }
}
.order-1{
    order:1;
}
.pagination-nav{
    background: none !important;
    box-shadow: none !important;
}
.mx-10{
    margin:5rem auto;
}
.height-100vh{
    max-height:100vh;
    overflow: hidden;
}
.easein-img img { 
    -webkit-transition: -webkit-transform 1.5s ease-out;
    transition: -webkit-transform 1.5s ease-out;
    transition: transform 1.5s ease-out;
    transition: transform 1.5s ease-out,-webkit-transform 1.5s ease-out;
}
.easein-img img:hover { transform: scale(1.1); }
.align-self-center{
    align-self: center;
}
.pre-footer{
    background-color: #ACA7A7;
    margin: 0;
    padding: 0.5rem 0;
    min-height: 0;
    &__btt{
        text-align: center;
        cursor: pointer;
        svg{
            display: inline-block;
            margin-bottom: 0.5rem;
        }
        span{
            color: #fff;
            display: block;
            letter-spacing: 0.1rem;
        }
    }
}
.footer{
  
    &__widget{
        &__heading{
            h4{
                border-bottom: 0.5px solid #EFEFEF;
                padding-bottom: .25rem;
                width: 45%;
                text-transform: uppercase;
                font-size: 1.125rem;
                font-family: $primary-font;
                line-height: 1.5rem;
                @include media-max(sm){
                    width: 50%;
                }
            }
        }
        &--item{
            margin-bottom: 1rem;
            text-align: left;
            line-height: 1.5rem;
            font-feature-settings: 'pnum' on, 'lnum' on;
            font-size: 1.125rem;

            img{
                width: 30%;
                @include media-max(sm){
                    width: 20%;
                }	
            }
            p{
                line-height: 1.5rem;
                font-weight: 400;
                font-size: 1.125rem;
                text-transform: none;
                color:#ACA7A7;
            }
            a{
                text-decoration: unset;
                color:#EFEFEF;
            }
        }
    }
    &__post-footer{
        &__social{
            margin: 2rem 0 1rem;
            &__icon{
                margin-right: 1rem;
            }
        }
        &__paragraph {
            p {
                font-feature-settings: 'pnum' on, 'lnum' on;
            }
        }
        margin-top: -2.5rem;
        @include media-max(sm){
            margin-top: unset;
        }	
    }
}
.text-right{
    text-align: right;
}
.service-b{
    .col-md-4{
        display: flex;
    }
    .col-md-4:nth-child(1){
        background-image: url("/src/lib/img/Box1.svg");
        background-size: 100%;
        background-position: right top;
        background-repeat: no-repeat;
        @include media-max(sm){
           background: unset;
        }	
    }
    .col-md-4:nth-child(2){
        background-image: url("/src/lib/img/Box2.svg");
        background-size: 100%;
        background-position: left bottom;
        background-repeat: no-repeat;
        @include media-max(sm){
            background: unset;
         }	
    }
    .col-md-4:nth-child(3){
        background-image: url("/src/lib/img/Box4.svg");
        background-size: 100%;
        background-position: left bottom;
        background-repeat: no-repeat;
        @include media-max(sm){
            background: unset;
         }	
    }
    .col-md-4:nth-child(6){
        background-image: url("/src/lib/img/Box3.svg");
        background-size: 100%;
        background-position: left bottom;
        background-repeat: no-repeat;
        @include media-max(sm){
            background: unset;
         }	
    }
    @include media-max(sm){
        .col-md-4:nth-child(2){
            background-image: unset;
        }
    }
}

.zoomImg{
    img{
        transition: 1.2s;
    }
    &:hover{
        img{
            transition: 1.2s;
            scale: 1.2;
        }
    }    
}